# Mac
.DS_Store

# Intellij
*.iml
*.ipr
*.iws
.idea
*.eml
.shelf

# Eclipse
.classpath
.project
.settings/
bin/

# VSCode
.vscode/

# Gradle & builds
build
build-cache
target
out
.gradle
classes
.gradletasknamecache
*.log

# Used to check reproducibility of Mockito jars
checksums/
