html, body {
  padding: 0px 0px 10px 0px;
  border: 0;
  margin: 0;
}

body {
  font-family: verdana, sans-serif;
  font-size: smaller;
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: none;
  color: #888;
}

img {
  padding: 0;
  margin: 0;
  border: 0;
  vertical-align: middle;
}

DIV.error {
  text-align: center;
  width: 100%;
}

/*========================== toolbar CSS styles ==============================================*/
.button {
  cursor:pointer;
  padding: 2px;
  position: relative;
}
.button.pressed {
  left: 1px;
  /*
  padding: 1px;
  border: 1px solid black;
  border-top-color: ThreeDShadow;
  border-left-color: ThreeDShadow;
  border-right-color: ThreeDLightShadow;
  border-bottom-color: ThreeDLightShadow;
  */
  background-color: ButtonShadow;
}
BODY.toolbar #caption {
  font-family: verdana, sans-serif;
  font-size: 10px;
}

BODY.toolbar {
  margin:0;
  padding:0;
  overflow:hidden;
  background-color:ThreeDFace;
  height: 20px;
  border-bottom: 1px solid ThreeDShadow;
  border-top: 1px solid ThreeDLightShadow;
}




/*========================== CSS for showing centered text ==============================================*/
#center-text-container {
  position:absolute;
  left:10%;
  top:50%;
  width:80%;
  text-align:center;
}

#center-text-box {
  position:relative;
  top: -0.5em;
}